.navbar {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    height: 100px;
}

.fixed {
    display: flex;
    list-style: none;
    margin-top: 25px;
    margin-right: 350px;
}

.container {
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.fixed a {
    text-decoration: none;
    color: White;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color: black;
    padding: 10px;
}

.dropdown-menu1 {
    color: white;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown1:hover .dropdown-menu1 {
    display: block;
}

.dropdown-menu1 {
    position: absolute;
    display: none;
    list-style: none;
    background-color: black;
    padding: 10px;
}

.dropdown-menu1 a {
    color: white;
}

.dropdown-menu1 li {
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: blue;
    width: 100px;
    height: 30px;
    margin-top: -10px;
}

h1 {
    align-content: center;
    background-color: steelblue;
    height: 330px;
    margin-top: 0px;
}

.footer-content{
    background-color: lightgreen ;
    background-size: cover;
}

.footer-section{
    text-align: center;
    margin-top: -20px;
}

.footer-section1{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 650px;
}

.footer-section1 > div {
    width: 280px;
    height: 100px;
    margin-right: 50px;
}

.footer-bottom {
    text-align: left;
    margin-top: 20px;
    flex: 1;
    justify-content: space-between;
}

.footer-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -30px;
}

.footer-links{
    list-style: none;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom1{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: -20px
}